/* Proxima Nova Font Family */

/* Regular weight fonts */
@font-face {
    font-family: 'Proxima Nova';
    src: url('/images/Proxima-Nova/ProximaNova-Regular.woff2') format('woff2'),
         url('/images/Proxima-Nova/ProximaNova-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/images/Proxima-Nova/ProximaNova-RegularIt.woff2') format('woff2'),
         url('/images/Proxima-Nova/ProximaNova-RegularIt.woff') format('woff');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

/* Light weight fonts */
@font-face {
    font-family: 'Proxima Nova';
    src: url('/images/Proxima-Nova/ProximaNova-Light.woff2') format('woff2'),
         url('/images/Proxima-Nova/ProximaNova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/images/Proxima-Nova/ProximaNova-LightIt.woff2') format('woff2'),
         url('/images/Proxima-Nova/ProximaNova-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

/* Semibold weight fonts */
@font-face {
    font-family: 'Proxima Nova';
    src: url('/images/Proxima-Nova/ProximaNova-Semibold.woff2') format('woff2'),
         url('/images/Proxima-Nova/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/images/Proxima-Nova/ProximaNova-SemiboldIt.woff2') format('woff2'),
         url('/images/Proxima-Nova/ProximaNova-SemiboldIt.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

/* Bold weight fonts */
@font-face {
    font-family: 'Proxima Nova';
    src: url('/images/Proxima-Nova/ProximaNova-Bold.woff2') format('woff2'),
         url('/images/Proxima-Nova/ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/images/Proxima-Nova/ProximaNova-BoldIt.woff2') format('woff2'),
         url('/images/Proxima-Nova/ProximaNova-BoldIt.woff') format('woff');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

/* Extrabold weight fonts */
@font-face {
    font-family: 'Proxima Nova';
    src: url('/images/Proxima-Nova/ProximaNova-Extrabld.woff2') format('woff2'),
         url('/images/Proxima-Nova/ProximaNova-Extrabld.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

/* Black weight fonts */
@font-face {
    font-family: 'Proxima Nova';
    src: url('/images/Proxima-Nova/ProximaNova-Black.woff2') format('woff2'),
         url('/images/Proxima-Nova/ProximaNova-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}